<div class="todoList__tasksContainer">
  <div class="task__Container">
    <div class="task__topSection">
      <div class="task__titleContainer">
        <span class="task__title">Task Manager</span>
      </div>
      <div class="task__BtnContainer">
        <button class="Btn Btn-blue">Edit</button>
        <button class="Btn Btn-red">Delete</button>
      </div>
    </div>
    <hr>
    <div class="task__deadline">
      <span class="deadline__label">Task Due Date: </span>
      <span class="deadline__date">dd/mm/yyyy</span>
    </div>
  </div>
</div>